.mainContainer {
  border-radius: 20px; 
  height: 100%; 
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  transform-origin: center;
  padding: 4em 2em;
  gap: 2em;
  background-color: rgba(63, 63, 63, 0.438);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
      p {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        color: #a0c040;
      }
  }
  img {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 600px) {

  .mainContainer {
    width: 100%;
    padding: 1em 1em;

    div {
        p {
          font-size: 0.8rem;
          color: #a0c040;
        }
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}