.mainContainer {
  border-radius: 20px; 
  height: 100%; 
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  transform-origin: center;
  padding: 4em 1em;
  gap: 2em;
  background-color: rgba(63, 63, 63, 0.438);

  div {
      p {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        color: #a0c040;
      }
  }
  img {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    height: 200px; 
    width: 100px;
    width: 100vw;
    padding: 1em 1em;

    div {
      width: 400px;
        p {
          font-size: 0.8rem;
          color: #a0c040;
        }
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}